<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>clients list</title>

    <!-- Custom fonts for this template-->
    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <div th:replace="~{Admin/fragments/sidebar}"></div>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <div th:replace="~{Admin/fragments/navadmin}"></div>
        
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Rented clients</h1> 
            <!-- DataTales Example -->
            <div class="clientd shadow mb-4">
              <div class="clientd-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Rented clients Table</h6>
              </div>
              <div class="clientd-body">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Cin</th>
                                <th>Phone Number</th>
                                <th>Address</th>                 
                                <th>Age</th>
                                <th>edit</th>
                                <th>Delete</th>
                              </tr>
                          </thead>
              
                          <tbody>
                              <tr th:each="client : ${clients}">
                                <th th:text="${client.id}"></th>
                                <th th:text="${client.name}"></th>
                                <th th:text="${client.cin}"></th>
                                <th th:text="${client.phoneNumber}"></th>
                                <th th:text="${client.address}"></th>
                                <th th:text="${client.age}"></th>
                                <th>edit</th>
                                <th>Delete</th>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
          <!-- /.container-fluid -->
      
      
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      
      <!-- End of Content Wrapper -->

  </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{js/sb-admin-2.min.js}"></script>
    <script th:src="@{js/demo/datatables-demo.js}"></script>
  </body>
</html>
