<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <section class="vh-100" style="background-color: #508bfc">
      <div class=" col-12 md-5 d-flex justify-content-center">
        <img th:src="@{/images/logo3.png}" style="width: 200px" />
      </div>

      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-5 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 3rem">
              <div class="card-body p-4">
                <h1 class="md-1 text-center">Sign in</h1>
                <form action="">
                  <label for="email" class="form-label mt-4"></label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter email"
                  />
                  <label for="password" class="form-label mt-4"></label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    autocomplete="off"
                  />
                  <p></p>
                  <div class="text-center">
                    <!-- <button
                      class="btn btn-primary btn-lg btn-block"
                      type="submit"
                    >
                      Login
                    </button> -->
                    <input
                      class="btn btn-primary"
                      type="submit"
                      value="login"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
