<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" />
    <title>Login</title>
    <style>
    
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div
            class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden"
          >
            <div class="card-img-left d-none d-md-flex">
              <img width="100%" th:src="@{/images/background-img.png}" />
            </div>
            <div class="card-body p-4 p-sm-5">
              <h1 class="card-title text-center mb-5 fw-bold fs-2 text-primary">
                Welcome Back!
              </h1>
              <form>
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInputEmail"
                    placeholder="name@example.com"
                  />
                  <label for="floatingInputEmail">Email address</label>
                </div>

                <hr />

                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                  />
                  <label for="floatingPassword">Password</label>
                </div>

                <div class="d-grid mb-2">
                  <button
                    class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                    type="submit"
                  >
                    Login
                  </button>
                </div>

                <hr class="my-4" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
