<!DOCTYPE html>
<html lang="en">
<head>
    <title>Responsive car dealership details cards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/cataloge.css}" type="text/css" />
</head>
<body>
  <div th:replace="~{fragments/navbar}"></div>
<div class="container pt-5">
    <div class="row">
        <div class="col-12 text-center text-primary bold">
            <h1 >Rent Now!</h1>
            <hr>
        </div>
        <div class="col-12">
            <article th:if="${car}"  class="card car-details">
                <div class="card-body">
                    <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                        <div class=" mb-md-0 mb-3">
                            <img class="img" src="https://imgs.search.brave.com/onXfNiBdDbK2cmrj31Vae1Vpkr6GKKJwVn-kwrROLp8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9i/bHVlLWNhci1kcml2/aW5nLXJvYWRfMTE0/NTc5LTQwNTYuanBn/P3NpemU9NjI2JmV4/dD1qcGc" data-zoom="https://imgur.com/SKZolYE.png" />
                        </div>
                        <div class="w-100">
                            <div class="d-flex flex-md-row flex-column">
                                <h3 class="mr-3" th:text="${car.name}"></h3>
                      
                                <div class="text-info ml-auto text-right">
                                    <h3 th:text="${car.price} + ' TD/day'"></h3>                        
                                </div>
                              
                            </div>
                            <p class="mr-3" th:text="${car.description}"></p>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <ul>
                                            <li><i class="fas fa-tachometer-alt"></i> <strong>Millage:</strong> 255,000 KM </li>
                                            <li><i class="fas fa-users"></i> <strong>Prev Owners:</strong> 3</li>
                                            <li><i class="fas fa-calendar" ></i > <strong >First Registration:</strong> <i th:text="${car.year}"></i></li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Displacement:</strong> 1,390cc</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Perfomance:</strong> 118 kW (160 hp)</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <ul>
                                            <li><i class="fas fa-info-circle"></i> <strong>Fuel Type:</strong> Petrol </li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Consumption(combined):</strong> approx. 6.4 l/100km</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>CO₂ Emissions:</strong> approx. 150 g/km (combined)</li>
                                            <li data-toggle="tooltip" title="The emission class determines the tax bracket of a vehicle. You can find it under number 14 in the registration certificate part 1 (vehicle registration)."><i class="fas fa-info-circle"></i> <strong>Emission Class:</strong> 1,390cc</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Perfomance:</strong> 118 kW (160 hp)</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex flex-md-row flex-column align-items-center justify-content-end">
                                            <form th:action="@{|/carslist/${car.id}|}">
                                            <button class="btn btn-primary w-100 mb-md-0 mb-3 mr-md-3 mr-0 "></i> Details</button>
                                            </form>
                                            <!-- <button class="btn btn-default w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-parking"></i> Park</button>
                                            <button class="btn btn-default w-100"><i class="fas fa-comment"></i> Comments(18)</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div th:unless="${car}">
                <p>Car not found!</p>
            </div>
        </div>
    </div>
</div>
</body>
<!-- <div style="position: fixed;bottom: 5%;right: 5%;padding: 1rem;background: #fff;border: 1px solid #e9ecef;border-radius: 0.35rem;color: #a9aeb3;box-shadow: 0 0 20px #e9ecef;">
    <h5 style="margin-bottom: 1rem;padding-bottom: 1rem;text-align: center;">Support my work @ MMLTech</h5>
    <div style="display: flex;align-items: center;">
        <a style="margin-right:1rem;background: #d1e6fd;display: block;padding: 1rem;border-radius: 0.25rem;border: 1px solid #e9ecef;color: #000;font-weight: bold;" href="https://ko-fi.com/mmltech" target="_blank"><img src="https://storage.ko-fi.com/cdn/Kofi_Logo_Blue.svg" width="60px"/> Buy me a coffee</a>
        <a style="background: #d1e6fd;display: block;padding: 1rem;border-radius: 0.25rem;border: 1px solid #e9ecef;color: #000;font-weight: bold;" href="https://obscountdown.com" target="_blank"><img src="https://streamcd.net/Assets/images/logo-white.png" width="60px" height="19px" /> My projects</a>
    </div> -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="main.js"></script>
</html>
